name: Deploy to Server

on:
  push:
    branches:
      - main  # Change this to match your deployment branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H IP-DEL-HOST >> ~/.ssh/known_hosts

      - name: Deploy via SSH
        run: |
          ssh ubuntu@IP-DEL-HOST << 'EOF'
            cd ies-pere-maria
            sh deploy.sh
          EOF
